<html>
    <head>
        <title>Creador de Encuesta</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <script>
        var size=0, count=0
        function getIniDate() {
            const flag=document.getElementById("end");
            if (flag===null){
                var endate = document.createElement("p")
                var node = document.createTextNode("Fecha Final: ")
                endate.appendChild(node);

                var element = document.createElement("input")
                element.type = "date"
                element.id = "end"
                element.name = "end"
                endate.appendChild(element);
                document.getElementById("ifecha").appendChild(endate)
            }
            var fecha=document.getElementById("ini").value
            document.getElementById("end").min=fecha
        }
        function makeQuestion(){
            if(size===20) alert("Cantidad de preguntas maxima alcanzada")
            else{
                ++size
                ++count
                const question = document.createElement("li")
                const textbox = document.createElement("input")
                textbox.type = "text"
                textbox.size = "150"
                textbox.maxlength = "150"
                textbox.class = "pregunta"
                textbox.name = "p"+count

                const erase = document.createElement("button")
                erase.type = "button"
                erase.appendChild(document.createTextNode("Borrar pregunta"))
                erase.onclick= function(){
                    question.remove()
                    --size
                }

                const list = document.createElement("ol")
                makeAlternative(list)
                makeAlternative(list)

                const calt = document.createElement("button")
                calt.type = "button"
                calt.appendChild(document.createTextNode("Crear Alternativa"))
                calt.onclick= function(){
                    if(list.childElementCount<10){
                        const alt = document.createElement("li")
                        const textalt = document.createElement("input")
                        textalt.type = "text"
                        textalt.size = "50"
                        textalt.maxlength = "50"
                        textalt.class = "alternativa"
                        textalt.name = "a"+count
                        alt.appendChild(textalt)
                        list.appendChild(alt)
                    }
                }

                const balt = document.createElement("button")
                balt.type = "button"
                balt.appendChild(document.createTextNode("Borrar Alternativa"))
                balt.onclick= function(){
                    if(list.childElementCount>2){
                        list.lastChild.remove()
                    }
                }

                question.appendChild(textbox)
                question.appendChild(erase)
                question.appendChild(calt)
                question.appendChild(balt)
                question.appendChild(list)
                document.getElementById("preguntas").appendChild(question)
            }
        }
        function makeAlternative(list){
            const alt = document.createElement("li")
            const textalt = document.createElement("input")
            textalt.type = "text"
            textalt.size = "50"
            textalt.maxlength = "50"
            textalt.class = "alternativa"
            textalt.name = "a"+count
            alt.appendChild(textalt)
            list.appendChild(alt)
        }
        function checkSubmition(){
            if(size===0){
                alert("Encuesta necesita una pregunta")
                return false
            }
            const dateInput = document.querySelectorAll('input[type=date]');
            for (let i = 0; i < dateInput.length; i++) {
                var element = dateInput[i];
                if(!element.value){
                    if(i===0)alert("No hay fecha de inicio")
                    else alert("No hay fecha final")
                    return false
                }
            }
            const sub = document.querySelectorAll('input[type=text]');
            for (let i = 0; i < sub.length; i++) {
                var element = sub[i];
                if(!element.value){
                    alert("Uno o mas inputs estan vacios")
                    return false
                }
            }
            return true
        }
    </script>
    <header>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <div class="container-fluid ">
             
              
              <div class="collapse navbar-collapse" id="navbarSupportedContent">  
                <ul class="navbar-nav mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" >IS2 Q-Project</a>
                  </li>
                  
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Encuestas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/crear-encuesta">Nueva Encuesta</a></li>
                      <li><a class="dropdown-item" href="/lista-encuestas">Listado de Encuestas</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Encuestados
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/email/registrar">Registrar</a></li>
                      <li><a class="dropdown-item" href="/email/lista">Listado de Mails</a></li>
                    </ul>
                  </li>
                  
                </ul>
               
                <div class="offset-3">
                  <a href="{{ url_for('pprincipal') }}" class="logo" ><img src="../static/imgs/logoencuesta.png" alt="Logo Encuestas" style="height: 12vh;"></a>
                </div>
                
                 
                <div class="d-flex ms-auto">
                  <form>
                    <input  type="submit" class= "btn btn-secondary" formaction="{{ url_for('logout') }}" value="Salir">
                  </form>
                <!-- <ul class="ms-auto">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                      </form>
                </ul> -->

              </div>
            </div>
          </nav>
    </header>
    <body>
        <!-- <form method="post"><input type="submit" name="menu" value="Volver a Menu"/></form> -->
        <h2>Crear Encuesta:</h2>
        <form method="post" onSubmit="return checkSubmition()"> <!--Por alguna razon VS Code me dice que el return no va ahi, pero el codigo funciona como debe-->
            <p>Titulo de encuesta:
                <input type="text" name="title" size="30" maxlength="100">
            </p>
            <p>ID encuesta:
                <input type="text" name="id" size="30" maxlength="100">
            </p>
            <p>Descripcion:
                <input type="text" name="descripcion" size="30" maxlength="256">
            </p>
            <p id="ifecha">Fecha Inicio:
                <input onchange="getIniDate()" type="date" id="ini" name="ini">
            </p>
            <input onclick="makeQuestion()" type="button" name="cpreguntas" value="Crear Pregunta"/>
            <h3>Preguntas:</h3>
                <ol id="preguntas">

                </ol>
            <input type="submit" name="crear" value="Crear Encuesta"/>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>