{% extends 'base/simpleNavBar.html' %}

{% block head_section %}

	<title> Administracion Correos </title>

{% endblock %}

{% block content %}

	<main>
		<div class="card border-dark">
			<div class="card-header"> <h1 align="middle"> {{ title }} </h1> </div>
			<div class="container">
				
				<div class="row g-0">
					<div class="col-md-6">
						<img class="img-fluid rounded-start" src="../../static/imgs/encuestaBye.png" alt="EncDptre"
						style="height: 60vh;">
					</div>
					
					<div class="col-md-6">
						<div class="card-body">
							<p class="card-text" style="font-size: 25px; margin-top: 6vh; margin-bottom: 6vh;">
								Su email registrado es: <b>{{ email }}</b>.<br>
								<br>
								Si usted anula su suscripcion, dejara de recibir correos cuando nuestras encuestas
								se encuentren disponibles, como tambien perdera la capacidad de responderlas.<br>
								<br>
								Habiendo dicho esto,<br>
								Desea usted continuar con su desuscripcion?<br>
							</p>

							<form>
								<button class="btn btn-danger btn-lg" type="submit" 
								style="margin-left: 16vh; font-size: 27px;" 
								formaction="{{ url_for('borrar_email', id_em=email, user=usuario) }}">
									<b>SI, deseo desincribirme<b>
								</button>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</main>

{% endblock %}