<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<title>{{ title }}</title>
</head>  

<body style="text-align:center">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	<header>

		<nav class="navbar navbar-dark bg-dark justify-content-center " style="height: 14vh;">
		<figure>
			<a href="../index"><img src="../static/imgs/logoencuesta.png" alt="Logo Encuestas" style="height: 12vh;"></a>
		</figure>
	</nav>


	</header>
   
	<form method="post" >
		<h1><a>Estas editando los datos de la encuesta</a></h1>
		 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
		<li>Id encuesta: {{ datosEncuesta[0]}}</li>
		<p> Titulo encuesta: 
			<input type="text" size="40" maxlength="60" value="{{datosEncuesta[1]}}" name="newtitulo">
		</p>
		<p> Fecha inicio:    
			<input onchange="checkDate()" type="date" size="40" maxlength="60" value="{{datosEncuesta[3]}}" name="newIn" id="newIn">
		</p>
		<p> Fecha final:     
			<input onchange="checkDate()" type="date" size="40" maxlength="60" min="{{datosEncuesta[3]}}"value="{{ datosEncuesta[4]}}" name="newFin" id="newFin">
		</p>
		<p> Descripcion:     
			<input type="text"value="{{datosEncuesta[5]}}"name="newDescripcion" size="30" maxlength="256">
		</p>
		<!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >
			Guardar Cambios
		  </button>
		  <!-- Modal -->
		  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="exampleModalLabel">Atención!</h5>
				  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
				  Estas a punto de cambiar datos que no volveran a como estaban, Estas seguro ?
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
				  <button type="submit"  formaction="/guardarDatosEncuesta/{{datosEncuesta[0]}}" >Si</button>
				</div>
			  </div>
			</div>
		  </div>
	</form>
	<form >
		<button type="submit" formaction="/lista-encuestas" >Cancelar y Volver</button>
	</form>
	<script>
		function checkDate() {
			var ini=document.getElementById("newIn")
			var fin=document.getElementById("newFin")
			if(ini.value>fin.value || fin.value==null){
				fin.value = ini.value
			}
			fin.min = ini.value
		}
	</script>
</body>
</html>