{% extends 'base/email.html' %}

{% block content %}

	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  		<symbol id="envelope" fill="currentColor" viewBox="0 0 16 16">
    		<path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
  			<path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"/>
  		</symbol>
  		<symbol id="trash" fill="currentColor" viewBox="0 0 16 16">
    		<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  			<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
  		</symbol>
  		<symbol id="left-arrow" fill="currentColor" viewBox="0 0 16 16">
    		<path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
  		</symbol>
  	</svg>

	<h2 align="middle"> {{ title }} </h2>

	<div class="flashes" style="margin-top: 2vh;">
		{% for msg in get_flashed_messages() %}
			<div class="alert alert-success d-flex justify-content-center" role="alert">
  				<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
  					<use xlink:href="#envelope"/>
  				</svg>
  				<div style="padding-left: 20px; padding-right: 20px"> <b> {{ msg }} </b> </div>
  				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	</div>

	<!-- ----------------------------------------------------------------------------------------------- -->

	<table class="table table-secondary table-hover table-sm">
		<thead class="table-dark"> 
			<tr> 
				<th scope="col" colspan="2"> Correo </th> 
			</tr>
		</thead>
		<tbody>
			{% for i in range (0, index) %} 
				<tr>
					<td> {{ emails[i] }} </td>	
					<td>
						<div class="container">
							<button class="btn btn-outline-dark d-flex" data-bs-mail="{{ emails[i] }}" 
								data-bs-toggle="modal"
								data-bs-target="#delModal">
								<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Eliminar">
  									<use xlink:href="#trash"/>
  								</svg>
  								<b> Eliminar </b>
							</button>
						</div> 
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="modal fade" id="delModal" role="dialog" tabindex="-1" aria-labelledby="delModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<h5 class="modal-title" id="modTitle"> <b> Atencion! </b> </h5>
				</div>

				<div class="modal-body">
					<div class="column" align="middle">
						<p> Esta seguro de desea eliminar este correo? </p>
						<p id="mail" style="font-weight: bold;"></p>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal"> Cancelar </button>
					<form>
						<button id ="delButton" type="submit" class="btn btn-success" formaction=""> Eliminar </button>
					</form>
				</div>

			</div>
		</div>
	</div>

	<script type="text/javascript">
		const myModal = document.getElementById('delModal')

		myModal.addEventListener('show.bs.modal', event => {
  			
  			const button = event.relatedTarget
  			const mail = button.getAttribute('data-bs-mail')

  			const modalBody = myModal.querySelector('#mail')
  			modalBody.textContent = `${mail}`

  			const url = "{{ url_for('borrar_email', id_em='correo', user='admin') }}".replace('correo', `${mail}`)
  			const modalButton = myModal.querySelector('#delButton')
  			modalButton.setAttribute('formaction', url )
		})
	</script>

	<br>

	<form>
		<button class="btn btn-outline-dark d-flex" type="submit" formaction="{{ url_for('registrar_email') }}" >
			<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Volver">
  				<use xlink:href="#left-arrow"/>
  			</svg>
			<b> Registro Correo </b>
		</button>
	</form>

{% endblock %}