<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Título de la encuesta pasado por argumentos -->
	<title>{{ title }}</title>
</head>
<body>
<header>
	<h1><a href="/">Bienvenido, {{ current_user.nick }}!</a></h1>
</header>
<!-- Se agrega el título como h1 por estética -->
<h1> {{ title }} </h1>
<!-- Se itera en las preguntas -->
<ul>
{% for i in range(preguntas|length) %}
        <li>{{ preguntas[i][2] }}<!-- Tercer atributo en la tabla pregunta: título de la pregunta -->
        	{% if graficos[i] != None %}
        		<br><img src='data:image/png;base64,{{ graficos[i] }}'/>
        	{% else %}
        		<br><mensage>No hay respuestas aún</mensage>
        	{% endif %}
    	</li>
{% endfor %}
</ul>
</body>
</html>