{% extends 'base/email.html' %}

{% block content %}
	<header>
		<h1><a href="{{ url_for('hello_world')}}">Bienvenido Admin!</a></h1>
	</header>
	<h2> {{ title }} </h2>

	{% from "_macro.html" import render_field %}

	<form>
		<div class="container">
			<div class="row">
				{{ render_field(eTF.email) }}
				<button type="submit" formaction="{{ url_for('userEmail') }}" >Register</button>
			</div>
		</div>
	</form>

	<br>

	<form>
		<button type="submit" formaction="{{ url_for('email_list') }}" >Registered Emails</button>
	</form>

{% endblock %}