<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Bienvenido Admin!</h1>
        <h2>Que deseas hacer?</h2>
    </header>
    <main>
        <section>
            <!-- <form  action="./watchE/previewE">
                <button>preview</button>
            </form> -->
            <form action="./createE">
                <button>Crear Encuesta</button>
            </form> 
            <form action="./watchE">
                <button>Listado Encuestas</button>
            </form> 
            <form action="./agreeE">
                <button>Agregar Encuestados</button>
            </form> 

        </section>
    </section>
    </main>

</body>
</html>