/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Inconsolata', monospace;
}

body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25vh 75vh;
}

header{
    background-color: rgba(40, 55, 71, 0.967);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center;
    align-items: center;
}

header{
    font-size: 2rem;
    color: aliceblue;
    
}

main{
    display: grid;
    align-items: start;
    background-color: rgb(128, 139, 150);
    
}

main section{
    display: grid;
    margin: 8rem 0 0 0;
    grid-template-columns: 20rem 20rem 20rem;
    grid-template-rows: 20rem;
    place-content: center;
    grid-column-gap: 4rem;
    
}

main section button{
    border: none;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    font-size: large;
    color:black;
} */ 

.logo{
    
    margin-left: auto;
    margin-right: auto;
}
