<!DOCTYPE html>
<html lang="en">
{% if title %}
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
</head>
{% endif %}
<body>
<h1> {{ title }} </h1>
{% for pregunta in preguntas %}
    <ul>
        <li>{{ pregunta[2] }}
        	<table><tr>
        		<td>
		        	<ul>
		        	{% for alternativa in alternativas %}
		        		{% if alternativa[1] == pregunta[0] %}
		        			<li>{{ alternativa[2] }}</li>
		        		{% endif %}
		        	{% endfor %}
		        	</ul>
		        </td>
		        <td>
		        	<ul style="list-style-type:none">
		        	{% for alternativa in alternativas %}
		        		{% if alternativa[1] == pregunta[0] %}
		        			<li>{{ alternativa[3] }} respuestas</li>
		        		{% endif %}
		        	{% endfor %}
		        	</ul>
		        </td>
        	</tr></table>
    	</li>
    </ul>
{% endfor %}
</body>
</html>