<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Encuestas</title>
    <link rel="stylesheet" href="/static/css/stylewatchE.css">
</head>
<body>

    <header>
        <h1><a href="./">Bienvenido Admin!</a></h1>
        <h2>Que encuesta desea previsualizar?</h2>
    </header>

    <main>
        <div class="contenedor">
            <form >
            {% for ti in titulos %}
            
            <label>{{ ti }} <input type="submit" value="preview" formaction="./previewE/{{ti}}"></label>           
            
            {% endfor %}
            </form>
        </div>
        

    </main>
        
</body>
</html>